<div class="wedding-container">
  <h2 class="schedule-title">Plan Uroczystości</h2>
  <div class="schedule-day">
    <h3 class="day-title">5.09.2025</h3>
    <ul class="schedule-events">
      <li class="event">
        <span class="time">15:40</span> Przybycie gości do Castelmola
      </li>
      <li class="event">
        <span class="time">15:50</span> Spacer z parkingu na zamek (10 minut)
      </li>
      <li class="event"><span class="time">16:00</span> Ceremonia ślubna</li>
      <li class="event">
        <span class="time">18:00</span> Obiad weselny, tańce, hulanki, swawole w
        Lumia Resort
      </li>
    </ul>
  </div>
  <div class="schedule-day">
    <h3 class="day-title">6.09.2025</h3>
    <ul class="schedule-events">
      <li class="event">
        <span class="time">Poranek</span> Śniadanie w wybranym obiekcie
      </li>
      <li class="event">
        <span class="time">Czas wolny</span>
      </li>
      <li class="event">
        <span class="time">18:00</span> Wspólny obiad w Lumia Resort (do wyboru
        Makaron z owocami morza lub spaghetti bolognese)
      </li>
    </ul>
  </div>
</div>
