<div class="wedding-container">
  <h2 class="title">Nie wszystko na raz</h2>
  <div class="schedule-day">
    <h3 class="day-title">5.09.2025</h3>
    <ul class="schedule-events">
      <li class="event">
        <span class="time">14:20</span> Zbiórka pod Agriturismo Lumia Resort
      </li>
      <li class="event">
        <span class="time">~14:40</span> Odjazd autokaru do Castelmola
      </li>
      <li class="event"><span class="time">16:00</span> Ceremonia ślubna</li>
      <li class="event">
        <span class="time">18:00</span> Obiad weselny, tańce, hulanki, swawole w
        Agriturismo Lumia Resort
      </li>
    </ul>
  </div>
  <div class="schedule-day">
    <h3 class="day-title">5.09.2025</h3>
    <ul class="schedule-events">
      TBA
    </ul>
  </div>
</div>
