<div class="wedding-container">
  <h2 class="title">Nie wszystko na raz</h2>
  <div class="schedule-day">
    <h3 class="day-title">5.09.2025</h3>
    <ul class="schedule-events">
      <li class="event">
        <span class="time">14:20</span>
        <p>Wyjazd autokaru spod Agriturismo Lumia</p>
      </li>
      <li class="event">
        <span class="time">14:25</span>
        <p>Wyjazd autokaru spod Lumia Resort</p>
      </li>
      <li class="event">
        <span class="time">16:00</span>
        <p>Ceremonia ślubna</p>
      </li>
      <li class="event">
        <span class="time">17:10</span>
        <p>Wyjazd autokaru z Castelmola</p>
      </li>
      <li class="event">
        <span class="time">18:00</span>
        <p>Obiad weselny, tańce, hulanki, swawole w Lumia Resort</p>
      </li>
    </ul>
  </div>
  <div class="schedule-day">
    <h3 class="day-title">6.09.2025</h3>
    <ul class="schedule-events">
      <li class="event">
        <span class="time">17:00</span>
        <p>Wspólny obiad w Lumia Resort</p>
      </li>
    </ul>
  </div>
</div>
