<div class="header">
  <mat-toolbar class="header-toolbar">
    <!-- Desktop Navigation -->
    <nav class="desktop-nav">
      <a
        mat-button
        *ngFor="let item of navigation"
        [routerLink]="item.url"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon *ngIf="item?.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </a>
    </nav>

    <!-- Mobile Menu Button -->
    <button
      mat-icon-button
      class="mobile-menu-button"
      (click)="toggleMobileMenu($event)"
      aria-label="Toggle menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="mobile-selected-page">{{ currentPageLabel }}</span>
  </mat-toolbar>
</div>

<mat-nav-list
  #navmenu
  class="navmenu"
  [ngClass]="{ 'navmenu-clicked': isMobileMenuOpen }"
>
  <a
    mat-button
    *ngFor="let item of navigation"
    [routerLink]="item.url"
    routerLinkActive="active"
    (click)="closeMobileMenu()"
  >
    <mat-icon *ngIf="item?.icon">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </a>
</mat-nav-list>
