<div class="invitation-container">
  <h1>Kochani!</h1>
  <p>
    Z wielką radością chcielibyśmy zaprosić Was na nasz ślub, który odbędzie się
    5 września na Sycylii! Wasza obecność w tym wyjątkowym dniu będzie dla nas
    najwspanialszym prezentem, dlatego nie oczekujemy żadnych innych upominków.
  </p>
  <p>
    Chcielibyśmy jednak uprzedzić, że koszty związane z dojazdem i noclegiem
    będą po stronie Gości.
  </p>

  <h2>Szczegóły:</h2>
  <ol>
    <li>
      Ślub cywilny odbędzie się w Castelmola 5.09 o godzinie 16
      <a
        href="https://maps.app.goo.gl/SHxyK7pi2rt6QCpK8?g_st=com.google.maps.preview.copy"
        target="_blank"
        >Mapa</a
      >
    </li>
    <li>
      Po ceremonii zapraszamy na obiad weselny w Lumia Resort
      <a
        href="https://maps.app.goo.gl/tA9vL8HEdeou42rq9?g_st=com.google.maps.preview.copy"
        target="_blank"
        >Mapa</a
      >
    </li>
    <li>
      Propozycje noclegów:
      <ul>
        <li>
          <strong>Agriturismo Lumia Resort nr 1:</strong>
          - 100€/noc/2os, 90€/noc/1os, 130€/noc/3os, 160€/noc/4os, 180€/noc/5os
          <a href="https://www.agriturismolumiaresort.it/" target="_blank"
            >Więcej informacji</a
          >
        </li>
        <li>
          <strong>Agriturismo Lumia nr 2:</strong>
          - 50€/1os/noc, 70€/2os/noc, 90€/3os/noc, 110€/4os/noc, 130€/5os/noc
          <a href="https://www.lumia.bio/" target="_blank">Więcej informacji</a>
        </li>
        <li>
          <strong>Villa dla 13 osób:</strong>
          - 980€/13os/2 noce (5-7 września)
          <a href="https://www.booking.com/Share-omvtkQ" target="_blank"
            >Więcej informacji</a
          >
        </li>
        <li>
          <strong>Resort Torreamare:</strong>
          - 60€/noc/os, minimalna ilość nocy: 4
          <a href="http://www.torremare.com/" target="_blank"
            >Więcej informacji</a
          >
        </li>
        <li>
          <strong>Agriturismo Galea nr 4:</strong>
          - 120€/noc/dwuosobowy pokój, 170€/noc/trzyosobowy pokój
          <a href="https://agriturismogalea.it/" target="_blank"
            >Więcej informacji</a
          >
        </li>
      </ul>
    </li>
    <li>
      Jeżeli zdecydujecie się na któryś z tych noclegów, możemy poprosić obiekt
      o grupową rezerwację. Dajcie znać w formularzu!
      <button
        mat-button
        class="contact-form-button"
        [routerLink]="'contact'"
        routerLinkActive="active"
      >
        <a>Przenieś mnie do formularza</a>
      </button>
    </li>
  </ol>
  <p>Czekamy na Waszą odpowiedź z niecierpliwością!</p>
  <p><strong>Kinga i Mikołaj</strong></p>
</div>
