<div class="wedding-container">
    <h2 class="title">Kochani</h2>
  <p>
    Z wielką radością chcielibyśmy zaprosić Was na nasz ślub, który odbędzie się
    5 września na Sycylii! Wasza obecność w tym wyjątkowym dniu będzie dla nas
    najwspanialszym prezentem, dlatego nie oczekujemy żadnych innych upominków.
  </p>
  <p>
    Chcielibyśmy jednak uprzedzić, że koszty związane z dojazdem i noclegiem
    będą po stronie Gości.
  </p>

  <h2>Szczegóły:</h2>
  <ol>
    <li>
      Ślub cywilny odbędzie się w Castelmola 5.09 o godzinie 16
      <a
        href="https://maps.app.goo.gl/SHxyK7pi2rt6QCpK8?g_st=com.google.maps.preview.copy"
        target="_blank"
        >Mapa</a
      >
    </li>
    <li>
      Po ceremonii zapraszamy na obiad weselny w Lumia Resort
      <a
        href="https://maps.app.goo.gl/tA9vL8HEdeou42rq9?g_st=com.google.maps.preview.copy"
        target="_blank"
        >Mapa</a
      >
    </li>
    <li>
      Propozycje noclegów znajdziesz tutaj
      <button
        mat-button
        class="contact-form-button"
        [routerLink]="'where'"
        routerLinkActive="active"
      >
        <a>Przenieś mnie do "Gdzie"</a>
      </button>
    </li>
    <li>
      Jeżeli zdecydujecie się na któryś z tych noclegów, możemy poprosić obiekt
      o grupową rezerwację. Dajcie znać w formularzu!
      <button
        mat-button
        class="contact-form-button"
        [routerLink]="'contact'"
        routerLinkActive="active"
      >
        <a>Przenieś mnie do formularza</a>
      </button>
    </li>
  </ol>
  <p>Czekamy na Waszą odpowiedź z niecierpliwością!</p>
  <p><strong>Kinga i Mikołaj</strong></p>
</div>
