.wedding-container {
  .contact-form-button {
    background-color: #c59800;
    a {
      color: white;
    }
  }
}

h1 {
  text-align: center;
  font-size: 30px;
}

h1,
h2 {
  color: #2c3e50;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

a {
  color: #a3575d;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

strong {
  color: #c59800;
}

.image-map {
  width: 100%;
}
