<div class="wedding-container">
  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="fullName?.hasError('required')">
        Imię i nazwisko jest wymaganee.
      </mat-error>
      <mat-error *ngIf="fullName?.hasError('minlength')">
        Imię i nazwisko musi mieć przynajmniej 3 znaki.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wybierz nocleg</mat-label>
      <mat-select formControlName="selectedOption" panelClass="dropdown">
        <ng-container *ngFor="let option of options">
          @if (option.sleepMode) {
          <mat-option [value]="option.name">
            {{ option.name }}
          </mat-option>
          }
        </ng-container>
      </mat-select>
      <mat-error *ngIf="selectedOption?.hasError('required')">
        Wybór opcji jest wymagany.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wybierz danie na wspólny obiad</mat-label>
      <mat-select formControlName="selectedOptionFood" panelClass="dropdown">
        <ng-container *ngFor="let option of foodOptions">
          <mat-option [value]="option.name">
            {{ option.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="selectedOptionFood?.hasError('required')">
        Wybór opcji jest wymagany.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Szczegóły</mat-label>
      <textarea
        matInput
        placeholder="Daj nam znać czy zaszczycisz nas swoją obecnością 😊"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      class="send"
      [disabled]="contactForm.invalid"
    >
      Wyślij
    </button>
  </form>
</div>
