<div class="contact">
<mat-spinner *ngIf="sent$ | async"></mat-spinner>
<div class="wedding-container" [ngClass]="{'wedding-container--disabled': (sent$ | async)}">
  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput formControlName="fullName"/>
      <mat-error *ngIf="fullName?.hasError('required')">
        Imię i nazwisko jest wymaganee.
      </mat-error>
      <mat-error *ngIf="fullName?.hasError('minlength')">
        Imię i nazwisko musi mieć przynajmniej 3 znaki.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wybierz nocleg</mat-label>
      <mat-select formControlName="selectedOption" panelClass="dropdown">
        <ng-container *ngFor="let option of options">
          @if (option.sleepMode) {
          <mat-option [value]="option.name">
            {{ option.name }}
          </mat-option>
          }
        </ng-container>
      </mat-select>
      <mat-error *ngIf="selectedOption?.hasError('required')">
        Wybór opcji jest wymagany.
      </mat-error>
    </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Liczba osób w formularzu</mat-label>
          <input matInput type="number" formControlName="numberOfPeople" [min]="1"/>
          <mat-error *ngIf="numberOfPeople?.hasError('required')">
              Podaj liczbę osób.
          </mat-error>
      </mat-form-field>
      <div *ngFor="let control of selectedOptionFoodArray?.controls; let i = index">
          <mat-form-field appearance="fill" class="full-width">
              <mat-label>Wybierz danie na wspólny obiad dla osoby {{ i + 1 }}</mat-label>
              <mat-select [formControl]="control" panelClass="dropdown">
                  <ng-container *ngFor="let option of foodOptions">
                      <mat-option [value]="option.name">{{ option.name }}</mat-option>
                  </ng-container>
              </mat-select>
              <mat-error *ngIf="control.hasError('required')">
                  Wybór opcji jest wymagany.
              </mat-error>
          </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="full-width">
      <mat-label>Szczegóły</mat-label>
      <textarea
        matInput
        placeholder="Daj nam znać czy zaszczycisz nas swoją obecnością 😊"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      class="send"
      [disabled]="(contactForm.invalid || (sent$ | async))"
    >
      Wyślij
    </button>
  </form>
</div>
</div>