.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0, 5;
}

.full-width {
  width: 100%;
}

mat-form-field {
  ::ng-deep .mdc-text-field {
    background-color: #c59800;
    border-radius: 0.375rem;
  }
}

button {
  width: 100%;
  background-color: #c59800;
  border-radius: 0.375rem;
  color: white;
}

.send {
  background-color: #a57a05;
  color: white;
}

.mat-mdc-button-disabled {
  background-color: #fff9a0;
  color: white;
}
