<div class="contact-form-container">
  <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="fullName?.hasError('required')">
        Imię i nazwisko jest wymaganee.
      </mat-error>
      <mat-error *ngIf="fullName?.hasError('minlength')">
        Imię i nazwisko musi mieć przynajmniej 3 znaki.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wybierz nocleg</mat-label>
      <mat-select formControlName="selectedOption" panelClass="dropdown">
        <ng-container *ngFor="let option of options">
          @if (option.sleepMode) {
          <mat-option [value]="option.name">
            {{ option.name }}
          </mat-option>
          }
        </ng-container>
      </mat-select>
      <mat-error *ngIf="selectedOption?.hasError('required')">
        Wybór opcji jest wymagany.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Napisz jaka konfiguracja pokoju i ile nocy</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      class="send"
      [disabled]="contactForm.invalid"
    >
      Wyślij
    </button>
  </form>
</div>
