<div class="wedding-container">
  <h2 class="title">Opcje dojazdu do Riposto z lotniska:</h2>
  <ol class="options-list">
    <li class="option">
      <strong>Wynajem auta</strong> – Polecamy oferty wynajmu na Bookingu, które
      są najkorzystniejsze cenowo.
    </li>
    <li class="option">
      <strong>Pociąg</strong> – Odjeżdża średnio raz na godzinę z **Catania
      Airport-Fontanarossa Station** do **Giarre-Riposto**. Ze stacji możemy Was
      odebrać. :)
    </li>
    <li class="option">
      <strong>Podróż na uroczystość do Castelmola</strong> – Osoby podróżujące
      pociągiem będą mogły zabrać się z gośćmi, którzy mają wolne miejsca w
      aucie. Integracja zacznie się wcześniej 😎
    </li>
  </ol>
</div>
