<div class="wedding-container">
  <h2 class="title">Transport</h2>
  <ol class="options-list">
    <li class="option">
      <strong>Samolot</strong> – Najlepiej i najwygodniej jest przylecieć do
      Katanii. Poniżej kilka propozycji lotów tanimi liniami lotniczymi.
      <ul class="transport-international">
        <li>
          <a
            href="https://www.ryanair.com/pl/pl/trip/flights/select?adults=1&teens=0&children=0&infants=0&dateOut=2025-09-03&dateIn=2025-09-07&isConnectedFlight=false&discount=0&promoCode=&isReturn=true&originIata=KTW&destinationIata=CTA&tpAdults=1&tpTeens=0&tpChildren=0&tpInfants=0&tpStartDate=2025-09-03&tpEndDate=2025-09-07&tpDiscount=0&tpPromoCode=&tpOriginIata=KTW&tpDestinationIata=CTA"
            target="_blank"
            >RyanAir - Przykładowe połączenie z Katowic do Katanii
          </a>
        </li>
        <li>
          <a
            href="https://www.wizzair.com/pl-pl/booking/select-flight/KTW/CTA/2025-09-04/2025-09-07/1/0/0/null"
            target="_blank"
          >
            WizzAir - Przykładowe połączenie z Katowic do Katanii
          </a>
        </li>
        <li>
          <a
            href="https://www.ryanair.com/pl/pl/trip/flights/select?adults=1&teens=0&children=0&infants=0&dateOut=2025-09-03&dateIn=2025-09-06&isConnectedFlight=false&discount=0&promoCode=&isReturn=true&originMac=WWA&destinationIata=CTA&tpAdults=1&tpTeens=0&tpChildren=0&tpInfants=0&tpStartDate=2025-09-03&tpEndDate=2025-09-06&tpDiscount=0&tpPromoCode=&tpOriginMac=WWA&tpDestinationIata=CTA"
            target="_blank"
          >
            RyanAir - Przykładowe połączenie z Warszawy do Katanii
          </a>
        </li>
        <li>
          <a
            href="https://www.wizzair.com/pl-pl/booking/select-flight/WAW/CTA/2025-09-03/2025-09-07/1/0/0/null"
            target="_blank"
          >
            WizzAir - Przykładowe połączenie z Warszawy do Katanii
          </a>
        </li>
      </ul>
    </li>
    <li class="option">
      <strong>Samochód</strong> - Auto to auto.
      <ul class="transport-international">
        <li>
          <a target="_blank" href="https://maps.app.goo.gl/UbjG95ZvazZnyxz76"
            >Wrocław - Riposto</a
          >
        </li>
        <li>
          <a target="_blank" href="https://maps.app.goo.gl/ycucv5j6PXMnGiNT8"
            >Rawicz - Riposto</a
          >
        </li>
        <li>
          <a target="_blank" href="https://maps.app.goo.gl/4KGVo4K1dZbdSxeX6"
            >Lubliniec - Riposto</a
          >
        </li>
      </ul>
    </li>
    <li class="option">
      <strong>Wynajem auta</strong> – Polecamy oferty wynajmu na
      <a
        target="_blank"
        href="https://www.booking.com/cars/index.pl.html?selected_currency=PLN&etStateBlob=EsannVucs5kA8VMcy2B7tMsIC_T9fUp5XCocAB6mttTC0Yr95q9GD1FcNdolw-FZoZT8PjiRZHi8&adplat=www-index-web_shell_header-car-missing_creative-5h4iv4To9s5w4H01S0llzq&distribution_id=5h4iv4To9s5w4H01S0llzq&aid=304142&client_name=b-web-shell-bff"
        >Bookingu</a
      >
      lub
      <a target="_blank" href="https://www.doyouitaly.com/index.htm"
        >DoYouItaly</a
      >, które są najkorzystniejsze cenowo.
    </li>
    <li class="option">
      <strong>Pociąg</strong> – Odjeżdża średnio raz na godzinę z **Catania
      Airport-Fontanarossa Station** do **Giarre-Riposto**. Na stronie
      <a
        href="https://www.omio.com/app/search-frontend/results/LD3BAAD50BC8C4EB2B6B3D0B30225AD85/train?locale=pl"
        target="_blank"
        >Omio</a
      >
      można sprawdzić rozkład jazdy. Ze stacji możemy Was odebrać. :)
    </li>
  </ol>
  <h2 class="title">Dojazd na ceremonię</h2>
  <ol class="option-list">
    <li class="option">
      <strong>Autokar</strong> - będzie podstawiony pod Agriturismo Lumia Resort
      o godzinie ~14:20. Dla każdego gościa znajdzie się miejsce
    </li>
  </ol>
</div>
